.pr_0 {
      padding-right: 0px;
}

.pr_2 {
      padding-right: 2px;
}

.pr_4 {
      padding-right:4px;
}

.pr_6 {
      padding-right: 6px;
}

.pr_8 {
      padding-right: 8px;
}

.pr_10 {
      padding-right: 10px;
}

.pr_12 {
      padding-right: 12px;
}

.pr_14 {
      padding-right: 14px;
}

.pr_16 {
      padding-right: 16px;
}

.pr_18 {
      padding-right: 18px;
}

.pr_20 {
      padding-right: 20px;
}

.pr_24 {
      padding-right: 24px;
}

.pr_30{
      padding-right: 30px;
}

.pr_40{
      padding-right: 40px;
}

.pr_60{
      padding-right: 60px;
}

.pr_80{
      padding-right: 80px;
}

.pr_120{
      padding-right: 120px;
}

.pr_200{
      padding-right: 200px;
}